# Required for all weeks
OPENAI_API_KEY=

# Week 2 - LangChain observability (optional)
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com #(if this url doesn't work check your organization url)
LANGCHAIN_PROJECT=Code For All - LangChain Intro"

# Week 2 - Vector database (Day 3 exercise)
PINECONE_API_KEY=

# Weeks 3-4 - Chroma vector database
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=code_for_all