# Environment variables for the application
OPENAI_API_KEY=

# LangChain observability (optional)
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com 
LANGCHAIN_PROJECT=

# Vector database 
PINECONE_API_KEY=

# Chroma vector database
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=